@import "./scss/var_mixin";
.about_me{
    
    color:white;

    &_content{
        display:flex;
        flex-wrap: wrap;

    }
    .intro{
        width:60%;
        height: 50%;
        margin-bottom: 16px;
        &_heading{
            font-size: 28px;
            margin-bottom: 16px;
        }
        &_para1,&_para2{
            font-size: 16px;
            margin-bottom: 16px;
        }
        
    }
    .info_wrap{
        width:30%;
        height: 50%;
        padding-left:24px;
        margin-top:48px;
        .info{
            padding: 12px 0;
        }
        
    }
    .clr_txt{
        color:$btn_color;
    }
    .btn_cv{
        border:1px solid $btn_color;
        height: 70px;
        width: 160px;
        border-radius:200px;
        background-color:$btn_color;
        margin:10px;
        color: white;
        &:hover{
            cursor:pointer;
        }
        }
    .stats{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        width:100%;
        .stat{
            border-right:1px dotted rgb(128, 128, 128,0.5);
            padding: 20px 12px;
            font-size: 16px;
            &_num{
                font-size: 45px;
                font-weight: bold;
                color:rgb(128, 128, 128,0.5);
            }
        }
    }
}
