@media screen and (max-width:600px) {
    section{
        .content{
            .heading_wrap{
                .heading{
                    font-size: 80px;
                }
                .over_heading{
                    font-size: 25px;
                }
                .underline{
                    margin-top:15px;
                }
            }
        }
    }
       
}