.portfolio{
    &_nav{
        @include flex_center(row);
        font-size: 16px;
        margin:0 0 48px;
        color:rgb(221, 221, 221);
        a:nth-child(0){
            color:$btn_color;
            text-decoration: underline;
        }
        a{
            padding:9.6px 16px;
            &:hover{
                cursor: pointer;
                color:$btn_color;
            }
        }
    }
    

    &_main{
        .wrap1{
            display: block;
            .portfolio_main_one{
                display: grid;
                grid-template-columns: repeat(5,200px);
                grid-template-rows: repeat(5,200px);
                row-gap: 20px;
                column-gap: 20px;
                &_0{
                    display:block;
                    grid-column: 1 / span 2;
                    grid-row: 1 / span 3;
                }
                &_1{
                    display:block;
                    grid-column: 3 / span 2;
                    grid-row: 1 / span 2;
                }
                &_2{
                    display:block;
                    grid-column: 5 / span 1;
                    grid-row: 1 / span 3;
                }
                &_3{
                    display:block;
                    grid-column: 3 / span 2;
                    grid-row: 3 / span 2;
                }
                &_4{
                    display:block;
                    grid-column: 1 / span 2;
                    grid-row: 4 / span 2;
                }
                &_5{
                    display:block;
                    grid-column: 3 / span 3;
                    grid-row: 5 / span 1;
                }
                &_0,&_1,&_2,&_3,&_4,&_5{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform .2s
                        
                    }
                    &:hover{

                        transform: scale(1.05);
                        opacity: 1;
                        img{
                            opacity: 0.3;
                        }
                    }
                    
                }
            
            }
        }

    }
}
