.side-nav{
    background-color: rgb(17, 20, 24) ;
    color: white;
    @include flex_center(column);
    padding: 20px 20px;
    position:fixed;
    height: 100vh;
    width: 260px;
    overflow: auto;
    scrollbar-width: none;
    z-index: 2;
    &_img_wrap{
        @include flex_center(column);
        .side-nav_img{
            img{
                border-radius: 50%;
                border: 8px solid rgb(68, 67, 67);
                height:160px;
                width:160px;
                object-fit: fill;
            }
            margin-bottom: 4px;
        }
        .name{
            font-size: 19px;
            width:100%;
            font-family: "Poppins",sans-serif;
        }
        &:hover{
            cursor:pointer;
        }
        
    }
    
    &_link_wrap{
        width: 100%;
        .side-nav_link{
            margin:76px 0px;
            @include flex_center(column);
            &_li {
                width:100%;
                a{
                     display: block;
                     padding:10px 0px;
                     text-align: center;
                     font-size: 16px;
                     @include flex_center(column);
                     &:hover{
                         color:$btn_color;
                         cursor: pointer;
                     }
                 }
            }
                
                
        }
        
    }
    &_icon_wrapper{
        .side-nav_icon{
            @include flex_center(row);
            &_li {
                @include tooltips();
                a{   
                    position: relative;
                    height:26px;
                    width:26px;
                    @include flex_center(row);
                    i{
                        font-size: 14px;
                        &:hover{
                            color: $btn_color;
                        }
                    }

            
                }
                }
        }
    }
}

/*

.top-na{
    background-color: black;
    color:white;
    &v{
        position: relative;
        &_left{
            position: absolute;
            left:0
        }
        &_right{
            position: absolute;
            right:0;
            &_right1{
                &_icon{
                    position: relative;
                    ul{
                        @include flex_center(row);
                        position: absolute;
                        left:0;
                        
                        li {
                            @include tooltips();
                            
                            a{   
                                position: relative;
                                display: block;
                                height:26px;
                                width:26px;
                                margin: 2px 0 2px 0;
                                i{
                                    font-size: 14px;
                                    color: white;
                                    &:hover{
                                        color: $btn_color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            &_right2{
                &_button{
                    &_link{
                        display: block;
                    }
                }
                &_link{
                    display: none;
                    background-color: black;
                    color:white;
                }
        
            }
        }
    }
}
    
    
    

    


@media screen and (max-width: 600px) {
    .top-na{
        display: block;
    }
    .side-nav{
        display: none;
    }

    section{
        margin-left: -260px;
        min-height: 100vh;
        min-width: 100vw;
    }
}
    */