* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: auto;
  font-family: "Poppins", sans-serif;
}

.main_wrapper {
  display: flex;
  flex-direction: row;
}

.pages {
  margin-left: 244px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

section {
  max-width: 100%;
  max-height: 100%;
}
section .content {
  padding: 72px 48px;
}
section .content div {
  position: relative;
}
section .content div .heading {
  text-align: center;
  color: rgba(108, 117, 125, 0.1);
  font-size: 118.694px;
}
section .content div .over_heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 36px;
}
section .content div .underline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  background-color: rgb(32, 201, 151);
  border-bottom-color: rgb(32, 201, 151);
  height: 1px;
  width: 80px;
}
section:nth-child(even) {
  background-color: rgb(33, 37, 41);
}
section:nth-child(2n+3) {
  background-color: rgb(52, 58, 64);
}

.side-nav {
  background-color: #111418;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 16px 8px;
  position: fixed;
  z-index: 1;
  height: 726.4px;
  width: 227px;
}
.side-nav_img_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side-nav_img_wrap .side-nav_img {
  margin-top: 24px;
  margin-bottom: 4px;
  padding: 8px;
}
.side-nav_img_wrap .side-nav_img img {
  border-radius: 200px;
  border: 8px solid rgb(68, 67, 67);
  height: 160px;
  width: 160px;
}
.side-nav_img_wrap .name {
  font-size: 21px;
  font-family: "Poppins", sans-serif;
}
.side-nav_link_wrap .side-nav_link {
  padding: 16px 0px;
  margin: 60.4px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side-nav_link_wrap .side-nav_link li a {
  display: block;
  padding: 10px 0px;
  width: 259px;
  text-align: center;
  font-size: 16px;
}
.side-nav_link_wrap .side-nav_link li a:hover {
  color: rgb(32, 201, 151);
  cursor: pointer;
}
.side-nav_icon_wrapper .side-nav_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.side-nav_icon_wrapper .side-nav_icon li .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-top: 10%;
}
.side-nav_icon_wrapper .side-nav_icon li .tooltiptext {
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: -150%;
  visibility: hidden;
}
.side-nav_icon_wrapper .side-nav_icon li .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-style: solid;
  border-color: black transparent transparent transparent;
  margin-left: -5px;
  border-width: 5px;
}
.side-nav_icon_wrapper .side-nav_icon li .tooltip:hover .tooltiptext {
  visibility: visible;
}
.side-nav_icon_wrapper .side-nav_icon li a {
  position: relative;
  display: block;
  height: 26px;
  width: 26px;
  margin: 2px 0 2px 4px;
}
.side-nav_icon_wrapper .side-nav_icon li a i {
  font-size: 14px;
  color: white;
}
.side-nav_icon_wrapper .side-nav_icon li a i:hover {
  color: rgb(32, 201, 151);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
}
.home_image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: fit;
     object-fit: fit;
}
.home_layer {
  background-color: rgba(21, 21, 21, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.home_layer_wrap {
  padding: 72px 0;
}
.home_layer_wrap_text {
  color: white;
  padding: 0 12px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home_layer_wrap_text_welcome {
  font-size: 28px;
  margin: 0 0 16px 0;
}
.home_layer_wrap_text_name {
  font-size: 51.9616px;
  margin-bottom: 16px;
}
.home_layer_wrap_text_dest {
  font-size: 21px;
  margin: 0 0 24px 0;
}
.home_layer_wrap_text_btn {
  border: 1px solid rgb(32, 201, 151);
  font-size: 16px;
  margin: 8px 0 0;
  color: rgb(32, 201, 151);
  height: 70px;
  width: 160px;
  border-radius: 200px;
  background-color: rgba(21, 21, 21, 0);
}
.home_layer_wrap_text_btn:hover {
  background-color: rgb(32, 201, 151);
  color: white;
  cursor: pointer;
}

.about_me {
  color: white;
}
.about_me_content {
  display: flex;
  flex-wrap: wrap;
}
.about_me .intro {
  width: 60%;
  height: 50%;
  margin-bottom: 16px;
}
.about_me .intro_heading {
  font-size: 28px;
  margin-bottom: 16px;
}
.about_me .intro_para1, .about_me .intro_para2 {
  font-size: 16px;
  margin-bottom: 16px;
}
.about_me .info_wrap {
  width: 30%;
  height: 50%;
  padding-left: 24px;
  margin-top: 48px;
}
.about_me .info_wrap .info {
  padding: 12px 0;
}
.about_me .clr_txt {
  color: rgb(32, 201, 151);
}
.about_me .btn_cv {
  border: 1px solid rgb(32, 201, 151);
  height: 70px;
  width: 160px;
  border-radius: 200px;
  background-color: rgb(32, 201, 151);
  margin: 10px;
  color: white;
}
.about_me .btn_cv:hover {
  cursor: pointer;
}
.about_me .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.about_me .stats .stat {
  border-right: 1px dotted rgba(128, 128, 128, 0.5);
  padding: 20px 12px;
  font-size: 16px;
}
.about_me .stats .stat_num {
  font-size: 45px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.5);
}

.what_i_do {
  margin: 0 12px;
  max-height: 50%;
}
.what_i_do_content {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.what_i_do_content_individual {
  display: flex;
  flex-direction: row;
  padding: 0 12px;
  margin-bottom: 48px;
  max-width: 40%;
}
.what_i_do_content_individual .icon {
  background-color: rgb(33, 37, 41);
  border-radius: 5px;
  height: 70px;
  max-width: 70px;
  margin-right: 10px;
  position: relative;
}
.what_i_do_content_individual .icon i {
  color: rgb(32, 201, 151);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.what_i_do_content_individual .info {
  padding-left: 20px;
}
.what_i_do_content_individual .info .sub-head {
  color: white;
  font-size: 20px;
  margin-bottom: 16px;
}
.what_i_do_content_individual .info .txt {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.resume_content1 {
  display: flex;
  flex-direction: row;
}
.resume_content1_myeducation {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}
.resume_content1_myeducation_heading {
  color: white;
  font-size: 24px;
  margin-bottom: 24px;
}
.resume_content1_myeducation1, .resume_content1_myeducation2, .resume_content1_myeducation3 {
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 6px;
  background-color: rgb(17, 20, 24);
}
.resume_content1_myeducation1_year, .resume_content1_myeducation2_year, .resume_content1_myeducation3_year {
  color: white;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  background-color: rgb(220, 53, 69);
  padding: 4.9px 9.1px;
  font-size: 14px;
  border-radius: 6px;
}
.resume_content1_myeducation1_degree, .resume_content1_myeducation2_degree, .resume_content1_myeducation3_degree {
  color: white;
  font-size: 21px;
  margin-bottom: 8px;
}
.resume_content1_myeducation1_university, .resume_content1_myeducation2_university, .resume_content1_myeducation3_university {
  color: rgb(32, 201, 151);
  font-size: 16px;
  margin-bottom: 16px;
}
.resume_content1_myeducation1_info, .resume_content1_myeducation2_info, .resume_content1_myeducation3_info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.resume_content1_myexperience {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}
.resume_content1_myexperience_heading {
  color: white;
  font-size: 24px;
  margin-bottom: 24px;
}
.resume_content1_myexperience1, .resume_content1_myexperience2, .resume_content1_myexperience3 {
  padding: 24px;
  margin-bottom: 24px;
  background-color: rgb(17, 20, 24);
  border-radius: 6px;
}
.resume_content1_myexperience1_year, .resume_content1_myexperience2_year, .resume_content1_myexperience3_year {
  color: white;
  text-align: center;
  background-color: rgb(220, 53, 69);
  display: inline-block;
  box-sizing: border-box;
  padding: 4.9px 9.1px;
  font-size: 14px;
  border-radius: 6px;
}
.resume_content1_myexperience1_degree, .resume_content1_myexperience2_degree, .resume_content1_myexperience3_degree {
  color: white;
  font-size: 21px;
  margin-bottom: 8px;
}
.resume_content1_myexperience1_university, .resume_content1_myexperience2_university, .resume_content1_myexperience3_university {
  color: rgb(32, 201, 151);
  font-size: 16px;
  margin-bottom: 16px;
}
.resume_content1_myexperience1_info, .resume_content1_myexperience2_info, .resume_content1_myexperience3_info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.resume_content2_myskills_heading {
  margin: 24px 0;
  font-size: 24px;
  color: white;
}
.resume_content2_myskills {
  display: flex;
  flex-direction: row;
}
.resume_content2_myskills1 {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  width: 50%;
}
.resume_content2_myskills1_1, .resume_content2_myskills1_2, .resume_content2_myskills1_3 {
  color: white;
  font-size: 16px;
  margin: 24px;
}
.resume_content2_myskills1_1 .slider_wrap, .resume_content2_myskills1_2 .slider_wrap, .resume_content2_myskills1_3 .slider_wrap {
  background-color: rgb(17, 20, 24);
  width: 100%;
  height: 8px;
  margin-bottom: 24px;
}
.resume_content2_myskills1_1 .slider_wrap .slider, .resume_content2_myskills1_2 .slider_wrap .slider, .resume_content2_myskills1_3 .slider_wrap .slider {
  background-color: rgb(32, 201, 151);
  height: 8px;
  width: 75%;
}
.resume_content2_myskills2 {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  width: 50%;
}
.resume_content2_myskills2_1, .resume_content2_myskills2_2, .resume_content2_myskills2_3 {
  color: white;
  font-size: 16px;
  margin: 24px;
}
.resume_content2_myskills2_1 .slider_wrap, .resume_content2_myskills2_2 .slider_wrap, .resume_content2_myskills2_3 .slider_wrap {
  background-color: rgb(17, 20, 24);
  width: 100%;
  height: 8px;
  margin-bottom: 24px;
}
.resume_content2_myskills2_1 .slider_wrap .slider, .resume_content2_myskills2_2 .slider_wrap .slider, .resume_content2_myskills2_3 .slider_wrap .slider {
  background-color: rgb(32, 201, 151);
  height: 8px;
  width: 75%;
}
.resume_content3 {
  width: 100%;
  text-align: center;
}
.resume_content3_btn {
  border: 1px solid rgb(32, 201, 151);
  height: 100px;
  width: 160px;
  border-radius: 200px;
  background-color: rgb(32, 201, 151);
  margin: 100px;
  color: white;
}
.resume_content3_btn:hover {
  cursor: pointer;
}/*# sourceMappingURL=assignment4.css.map */