$btn_color:rgb(32, 201, 151);
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: auto;
    font-family: "Poppins",sans-serif;
}
.main_wrapper{
    display: flex;
    flex-direction: row;
}
@mixin flex_center ($x) {
    display: flex;
    flex-direction: $x;
    align-items: center;
    justify-content: center;
}
@mixin position_center(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pages{
    margin-left:244px;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    
}
section{
    max-width: 100%;
    max-height: 100%;
    .content{
        padding:72px 48px;

        div{
            position: relative;
            
            .heading{
                text-align: center;
                color: rgb(108, 117, 125,0.1);
                font-size:118.694px;
            }
            .over_heading{
                @include position_center();
                text-align: center;
                color:white;
                font-size:36px;
                
            }
            .underline{
                @include position_center();
                margin-top:20px;
                background-color:$btn_color;
                border-bottom-color: $btn_color;
                height: 1px;
                width:80px;
            }
            
        }

    }
    
    &:nth-child(even){
        background-color: rgb(33, 37, 41);
        
    }
    &:nth-child(2n+3){
        background-color: rgb(52, 58, 64);
    }   
}


@import "./side-nav";
@import "./home";
@import "./about_me";
@import "./what_i_do";
@import "./resume";
@import "./testimonial";




