$btn_color:#20C997;
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: auto;
    font-family: "Poppins",sans-serif;
}
@mixin flex_center ($x) {
    display: flex;
    flex-direction: $x;
    align-items: center;
    justify-content: center;
}
@mixin position_center(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    height:100vh;
    width:85vw;
    &:nth-child(n+1){
        padding:0 20vw;
    }
    div{
        width: 100%;
        position: relative;
        .heading{
            text-align: center;
            color: rgb(128, 128, 128,0.2);
            font-size:8em;
        }
        .over_heading{
            @include position_center();
            text-align: center;
            color:white;
            font-size:2em;
            
        }
        .underline{
            @include position_center();
            margin-top:20px;
            background-color:$btn_color;
            border-bottom-color: $btn_color;
            height: 1px;
            width:80px;
        }
        
    }
    &:nth-child(even){
        background-color: rgba(36, 36, 36);
    }
    &:nth-child(2n+3){
        background-color: rgb(47, 47, 47);
    }   
}


@import "./side-nav";
@import "./home";
@import "./about_me";
@import "./what_i_do";