.home{
    position: relative;
    
    img{
        position: absolute;
        z-index: -1;
        left:15vw;
        top:0;
        height:100vh;
        width: 85vw;

        object-fit: fit;
    }
    .layer{
        background-color: rgba(21, 21, 21, 0.7);
        position: absolute;
        top:0;
        left:15vw;
        height:100vh;
        width: 85vw;
        z-index: 0;

        .text{
            color: white;
            position: absolute;
            top:30%;
            text-align: center;
            width: 100%;

            
            &_welcome{
                font-size: 2em;
                margin-bottom: 16px;
                
            }
            &_name{
                font-size: 5em;
                margin-bottom: 16px;
            }
            &_dest{
                font-size: 1.5em;
                margin-bottom: 24px;
            }
            .btn{
            border:1px solid $btn_color;
            color:$btn_color;
            height: 70px;
            width: 160px;
            border-radius:200px;
            background-color: rgba(21, 21, 21, 0.0);
            &:hover{
                background-color:$btn_color;
                color: white;
                cursor:pointer;
            }
            }
    }
}
}