.home{
    position: relative;
    height: 100vh;
    width: 100%;
    
    &_image{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: fit;
    }
    
    &_layer{
        background-color: rgba(21, 21, 21, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;

        &_wrap{
            padding: 72px 0;

            &_text{
                color: white;
                padding:0 12px;
                width: 100%;
                @include position_center();
                text-align: center;
                
                &_welcome{
                    font-size: 28px;
                    margin:0 0 16px 0;
                    
                }

                &_name{
                    font-size: 51.9616px;
                    margin-bottom: 16px;
                }

                &_dest{
                    font-size: 21px;
                    margin: 0 0 24px 0;
                }

                &_btn{
                    border:1px solid $btn_color;
                    font-size:  16px;
                    margin: 8px 0 0; 
                    color:$btn_color;
                    height: 70px;
                    width: 160px;
                    border-radius:200px;
                    background-color: rgba(21, 21, 21, 0.0);
                    &:hover{
                        background-color:$btn_color;
                        color: white;
                        cursor:pointer;
                    }
                }
            }            
        }
    } 
}