.side-nav{
    background-color: #111418 ;
    color: white;
    @include flex_center(column);
    padding: 16px 16px 8px;
    position: fixed;
    z-index: 1;
    
    height:726.4px;
    width: 227px;
    &_img_wrap{
        @include flex_center(column);

        .side-nav_img{
            margin-top:24px;
            
            img{
                border-radius: 200px;
                border: 8px solid rgb(68, 67, 67);
                height: 160px;
                width: 160px;
                
            }
            margin-bottom: 4px;
            padding: 8px;
        }
        .name{
            font-size: 21px;
            font-family: "Poppins",sans-serif;
        }
        
    }
    
    &_link_wrap{
        .side-nav_link{
            padding:16px 0px;
            margin:60.4px 0px;
            @include flex_center(column);

            li a{
                    display: block;
                    padding:10px 0px;
                    width: 259px;
                    text-align: center;
                    font-size: 16px;
                    &:hover{
                        color:$btn_color;
                        cursor: pointer;
                    }
                }
                
        }
        
    }
    &_icon_wrapper{
        .side-nav_icon{
            @include flex_center(row);
            justify-content: center;
            li {
                .tooltip{
                    position: relative;
                    display: inline-block;
                    border-bottom: 1px dotted black;
                    margin-top: 10%;
                }
                .tooltiptext{
                    width: 100px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 150%;
                    left: -150%;
                    visibility: hidden;
                }
                
                .tooltiptext::after{
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    border-style: solid;
                    border-color: black transparent transparent transparent;
                    margin-left: -5px;
                    border-width: 5px;
                }
                
                .tooltip:hover .tooltiptext{
                    visibility: visible;
                }
                a{   
                        position: relative;
                        display: block;
                        height:26px;
                        width:26px;
                        margin: 2px 0 2px 4px;
                        i{
                            font-size: 14px;
                            color: white;
                            &:hover{
                                color: $btn_color;
                            }
                        }

             
                    }
                }
        }
    }
}


    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    
    
    