.what_i_do{
    max-height: 100%;
    &_content{
        display: flex;
        flex-wrap: wrap;
        color:white;
        &_individual{
            display: flex;
            flex-direction: row;
            padding:0 12px;
            margin-bottom: 48px;
            max-width:40%;
            padding-left: 90px;
            
            
            .icon{
                background-color: rgb(33, 37, 41);
                border-radius: 5px;
                height: 70px;
                max-width: 70px;
                margin-right: 10px;
                position: relative;
                i{
                    color:$btn_color;
                    @include position_center();
                    font-size: 30px;
                }
            }
            .info{
                .sub-head{
                    color:white;
                    font-size: 20px;
                    margin-bottom:16px;
                }
                .txt{
                    font-size: 16px;
                    color:rgba(255, 255, 255, 0.5);                    ;
                }
            }
            
        }
    }
}